[2015-05-03 09:37] caneco opened #1 "Scrolling with Magic"
Hello,
Have you tried to scroll your demo with an Apple Magic Mouse? It's always passing 2 slides each time.

[2015-05-03 10:51] d4nyll commented on #1
Hi Caneco, thanks for getting in touch!

smartscroll does not currently support touch events, such as on mobiles; it also has not been optimized for trackpads or the Apple Magic Mouse, so what you reported is expected.

I think the issue is similar to [this issue](https://github.com/jquery/jquery-mousewheel/issues/36) on [jquery/jquery-mousewheel](https://github.com/jquery/jquery-mousewheel), wher

[2015-05-03 10:51] #1 closed, assigned to nobody

[2015-05-03 10:56] d4nyll opened #2 "Momentum / Inertia Scrolling"
As mentioned in #1, momentum / inertia scrolling means one scroll using a trackpad or the Apple Magic Mouse can actually move through several sections.

Ideally, one scroll action, no matter how big it is, should move through one section only.

This is a similar issue with to [this](https://github.com/jquery/jquery-mousewheel/issues/36) on [jquery/jquery-mousewheel](https://github.com/jquery/jquer

[2015-05-03 18:11] d4nyll opened #3 "Jittering in Chrome with smooth scrolling on OSX"
From [Reddit](http://www.reddit.com/r/webdev/comments/34p17r/its_not_ok_to_change_scroll_dynamics_the_same_way/cqx1m6s).

[2015-05-03 21:39] Haroenv opened #4 "Scrolling skips frames"
When scrolling from the header to the pages, it scrolls three pages in once, Safari, OS X.

[2015-05-04 02:00] d4nyll commented on #4
Thanks for your feedback, but it is probably a duplicate of #2

[2015-05-04 02:00] #4 closed, assigned to nobody

[2015-05-04 07:54] d4nyll opened #5 "Scroll within a section"
For the [Different Heights](http://d4nyll.github.io/smartscroll/different-heights/) feature, when the section is much taller than the viewport height, scrolling down will take you to the next section, cutting off the rest of the text of the current section that lies 'below' the viewport.

It would be an improvement / feature to allow normal scrolling until you reach the bottom of the current secti

[2015-05-04 07:56] d4nyll opened #6 "Programmatically enable / disable features"
Create methods that allow other scripts to enable or disable certain features programmatically.

[2015-05-05 01:13] d4nyll commented on #2
Going to create a [separate repository](https://github.com/d4nyll/lethargy) for this, so other scroll plugins can take advantage of it also.

[2015-05-05 10:36] d4nyll commented on #2
You can keep up with progress on the dev branch

[2015-05-06 16:45] d4nyll commented on #2
Fixed (as much as possible) in 62a59ea

[2015-05-06 16:45] #2 closed, assigned to nobody

[2015-05-12 21:12] IB-VT opened #7 "Cannot read property 'offsetTop'"
I tried to use this fantastic plug-in and it works well, as long there is no navigation bar at the top of the site.

When using the bootstrap navigation bar, smartscroll generates the error "Cannot read property 'offsetTop'" on chrome or a "Die Eigenschaft "offsetTop" eines undefinierten oder Nullverweises kann nicht abgerufen werden." (property "offsetTop" of a undefined Null-reference could not

[2015-05-13 01:33] d4nyll commented on #7
Thanks for letting me know, do you think it'd be possible for you to host your site somewhere so I can directly debug from there?

[2015-05-13 12:40] IB-VT commented on #7
Hi Daniel,

thanks for the fast reply, the site is online at: www.ib-barwich.de/test

I tried to figure out if there is any interacting with other scripts used by the site, but could not find the problem yet.

[2015-05-13 16:57] itsacezon opened #8 "Hybrid Scrolling issue"
I can't scroll to the portions after the section tagged for hybrid scrolling. It seems that I cannot go beyond the last panel of the section. Is there a fix to this?

[2015-05-13 17:05] d4nyll commented on #8
This seems like a big issue, I will see if I can squeeze some time in this weekend and fix it, if not it'll have to wait til next month unfortunately.

[2015-05-14 07:16] d4nyll commented on #7
I took a look at your markup.

Right now, the structure needs to be:

[code]

Where the `section` needs to be direct children of the container. Also, for the time being, there cannot be anything in between the sections (which is part of the 'Requirements' - There can only be one set of adjoining sections).

So you'd need to structure it that way.

Also for the time being, hybrid scroll doesn't wor

[2015-05-17 16:24] maoosi opened #9 "Trackpad touch events"
Your plugin seems very promising, and if it keeps the promises made in your comparison, then it can be a real alternative to fullPage.js. However, it's impossible for me to implement it before touch trackpads events be supported. Do you plan to implement it soon?

Thanks,

[2015-05-17 17:35] d4nyll commented on #9
Thank you for the appreciation!

If by trackpads you mean laptop trackpads and Apple Magic mouse, then those are implemented already; if it doesn't work for you, then that should be classed as a bug.

If, however, you mean touch events like those on mobile phones and tablets, then yes those are not supported.

Currently I am setting up my web development shop in Hong Kong, and so there's a lot of

[2015-05-21 12:28] maoosi commented on #7
I got the same problem using html5 tags structure.

Solved it by replacing css selector used on smartscroll.js, line 106:
replace `:nth-of-type` by `:nth-child`

@d4nyll is there any particular reason you used `:nth-of-type` ?

[2015-05-21 12:45] maoosi commented on #9
Thanks for your reply.

Actually yes I think there is a problem when using a laptop trackpad.

It's curious because it's working when I goes down in the page and goes up again, but only the first time. If I try to go down again, it no longer works.

No problem using mouse scroll.

[2015-05-21 14:46] d4nyll commented on #9
Because smartscroll uses [d4nyll/lethargy](https://github.com/d4nyll/lethargy), it's probably an issue with that. It works the first time because in lethargy, the first 15 scrollevents fired will be considered valid.

The idea is that if you use mousescroll, the events should be valid anyways. If you use trackpad or Apple Mouse, because a lot more than 15 scroll events are fired for each scroll _i

[2015-06-07 20:48] promokit opened #10 "Scroll for section only"
Hi.
Is it possible to have smartscroll for the section only, but not for whole page?

[2015-06-09 02:53] d4nyll commented on #10
Yes, there's [Hybrid Scroll](http://d4nyll.github.io/smartscroll/hybrid-scroll/), but currently, it only works with a header (if you have a non-scrolling section at the bottom, it doesn't work).

I am planning on refining this feature towards the end of this month.

[2015-06-09 12:33] promokit commented on #10
I want to clarify my question with following screenshot:
https://www.dropbox.com/s/o1wxt56irkc9ljt/content-scroll.png
Is it possible to have a scroll for "content" part only?

[2015-06-09 12:40] d4nyll commented on #10
No, it's not possible at the moment. I am adding it to the to-do / to-investigate list. Thanks for the suggestion.

[2015-06-09 12:41] promokit commented on #10
Thank you ver much!

[2015-06-10 06:58] visualcookie opened #11 "Add navigation"
Hi,

would like to see this in this plugin. A navigation that refers to the right hashes and the links should get an is-active status when they hit the section.

Here's a snippet of my last implementation of it (no active status is added when the section is hit at the moment):

[code]

[2015-06-13 11:01] d4nyll commented on #9
@maoosi I have some time to work on this now. If you can tell me which page on the demo does not work, that'd be great. Also, please help me by running your device against this [test](http://jsfiddle.net/n7bk6pb9/1/) and posting the image that you get.

I appreciate that you might have used another library in the mean time, but I would like to have your help in refining this package, so any help i

[2015-06-13 11:06] d4nyll commented on #7
@maoosi I used `:nth-of-type` because originally, I wanted to allow the users to have other things inside the section wrapper. But now I can change it to `:nth-child`, it'd be equivalent. Still I am curious why `:nth-of-type` didn't work...

[2015-06-15 02:38] maoosi commented on #7
Because `:nth-of-type` selector is attached to a particular type, so if we don't want to use the same tag type (something different from a `<div>` like `<section>` or `<article>`, or even differents types inside the same parent element), it will not work anymore.

I think you can replace all your `:nth-of-type` by `:nth-child` everywhere it's used in your plugin in order to make it more flexible.

[2015-06-15 02:41] maoosi commented on #9
@d4nyll Yes, sorry I didn't get time to do that yet. In order to get it, I will have to rebuild a test page because I switched to something else in between, but I will do that as soon as possible, when I have some time.

[2015-06-15 04:00] d4nyll commented on #9
@maoosi Thank you for any help you can give. Much appreciated!

[2015-06-15 04:02] d4nyll commented on #7
@maoosi That's a very good point I didn't consider. I will update it in the next push! Thanks!

[2015-08-15 17:16] julianxhokaxhiu commented on #11
+1 I'm exactly trying to do the same. Would be cool to have it as a built-in functionality

[2015-10-02 03:27] maoosi commented on #9
It's better late than never !

Gigabyte P34 Trackpad:
![gigabytep34trackpad](https://cloud.githubusercontent.com/assets/4679377/10238907/20240e9a-6909-11e5-871d-191299c22fdd.jpg)

[2015-10-05 12:57] pudgereyem commented on #8
+1

It would be wonderful if we could get this to work. Since this is the case in the project I'm working on right now. I left a comment on your blog post; http://blog.danyll.com/smartscroll-jquery-scrolljacking-plugin/

Please tell me if this is something you're working on, and if I can help out.

[2015-10-05 14:31] pudgereyem commented on #8
I solved this by adding another condition that checks distanceScrolled against the distance to where sectionWrapper ends. I opened up a pull request; https://github.com/d4nyll/smartscroll/pull/12

It works fine for me! Please take a look @d4nyll

Comment: I only changed smartscroll.js, since I didn't see any build task for creating the minified version.

[2015-11-04 08:23] atelierZuppinger commented on #9
Hi folks, I get the same problem with my pages. First scroll up with magic mouse confuses Lethargy.
Here are my results with your jsFiddle:
![capture d ecran 2015-11-04 a 09 18 58](https://cloud.githubusercontent.com/assets/4289132/10933002/99ffd0a6-82d5-11e5-984a-5186fdbaa9e9.png)
![capture d ecran 2015-11-04 a 09 18 27](https://cloud.githubusercontent.com/assets/4289132/10933001/99ff53ba-82d5-11

[2015-12-03 21:40] jithinktom commented on #9
May I know when will this be fixed?

[2015-12-11 05:49] d4nyll opened #13 "Change `sectionClass` to `sectionSelector` instead"

[2015-12-11 05:50] d4nyll opened #14 "Allow users to specify animation easing"

[2015-12-11 10:01] d4nyll opened #15 "Last slide in smartscroll doesn't scroll to the bottom"
I cannot scroll to the bottom of the page when I am halfway between the last and second-last slide, as demonstrated below:

![](http://i.imgur.com/1WoISTf.png)

[2015-12-11 10:18] d4nyll opened #16 "Integrate with EventEmitter"
Emit events after scroll started, is scrolling, and scroll finished. With arguments given to identify the slide.

[2015-12-11 13:21] #8 closed, assigned to nobody

[2015-12-11 13:26] d4nyll commented on #8
@pudgereyem Apologies for the long time it took for me to review and merge it. Thank you very much for the PR, it has now been merged into version 2.0.1. Many many thanks for your time, it's very much appreciated!

[2015-12-11 13:48] pudgereyem commented on #8
@d4nyll Awesome that you merged it in, glad to see the activity. Have you seen http://www.w3.org/TR/css-snappoints-1/#examples? – looks interesting. Blog post here; http://blog.teamtreehouse.com/css-scroll-snap-points

Feel free to add me on Skype, username; virremey.

[2015-12-11 13:55] d4nyll commented on #8
@pudgereyem No I haven't seen it, thanks for sharing! It looks very interested at first glance, and I will definitely take a more detailed look at it.

Added!

[2015-12-11 15:47] d4nyll opened #17 "Auto-Hash shows the previous slide when scrolljacking"
As demostrated in the [current](https://github.com/d4nyll/smartscroll/tree/c76d56222273e9dc5189a95688a27854cd81d44c) demo - http://d4nyll.github.io/smartscroll/

[2015-12-12 13:40] d4nyll commented on #13
Implemented with commit e9f04c2

[2015-12-12 13:40] #13 closed, assigned to d4nyll

[2015-12-14 17:24] #15 closed, assigned to d4nyll

[2015-12-14 17:24] #16 closed, assigned to nobody

[2015-12-14 17:24] #17 closed, assigned to d4nyll

[2015-12-14 17:25] d4nyll commented on #5
Resolved in ea24834

[2015-12-14 17:25] #5 closed, assigned to d4nyll

[2015-12-14 17:29] d4nyll commented on #9
With @maoosi's profile, I don't know if there's that much I can do about it, simply because the `wheelDelta` values are so low, it won't be accurate.

@atelierZuppinger I don't see a problem with your profile, if anyone can help me debug it, I'd be more than happy to accept your help!

[2015-12-15 12:50] d4nyll commented on #10
After much thought, the architecture change that would be required to do that would be too different from what it is at the present. So this feature won't be implemented on smartscroll.

You can, of course, do this is through an `iframe` though.

But again, thank you for your suggestion.

[2015-12-15 12:50] #10 closed, assigned to d4nyll

[2015-12-18 13:20] d4nyll opened #19 "Add keyboard controls"
Namely, up arrow for moving one slide up, and down arrow for moving one slide down.

[2015-12-20 16:45] d4nyll opened #20 "Cater for touchscreen controls (taps and swipes)"

[2015-12-24 17:14] d4nyll commented on #19
Implemented with commit 2f309ee207d32b63d51bb3e780c84ed1a9af6ed1

[2015-12-24 17:14] #19 closed, assigned to d4nyll

[2015-12-24 17:15] d4nyll commented on #20
Implemented swipe events with commit 99b9df7cf9425fa823fa48e6326d7081dc9d1993. Don't see a need for tap events also.

[2015-12-24 17:15] #20 closed, assigned to d4nyll

[2016-01-03 04:40] tribou opened #21 "Scrolling by sections is not working on touch devices"
Is this plugin supposed to work on an iPad or any touchscreen device?  The examples weren't working on any of my touchscreen devices.

[2016-01-03 13:00] d4nyll commented on #21
@tribou Touch support was implemented with commit 99b9df7cf9425fa823fa48e6326d7081dc9d1993. This change is not yet reflected in the demo because I am currently redoing the entire demo (mostly to improve the look)

If you use the latest version ([2.4.0](https://github.com/d4nyll/smartscroll/releases/tag/2.4.0)), it should work on touchscreen devices.

Thanks for checking it out, if you have an issu

[2016-01-03 13:00] #21 closed, assigned to nobody

[2016-01-22 23:20] chrisg88 opened #22 "Jumping to top from last section in Hybrid Scrolling"
We are seeing some odd behavior when re-entering the section wrapper (scrolling up).

Occasionally, the page will scroll to a point where a few pixels of the last section is visible. When this happens, scrolling back down causing the page to instantly jump to the top of the section wrapper.

Any ideas?

[2016-01-22 23:54] chrisg88 opened #23 "bindKeyboard prevents browser keyboard refresh shortcut"
While scrolling or stopped inside the section wrapper Chrome appears to ignore the refresh shortcut while bindKeyboard is set to true.

[2016-01-23 04:33] d4nyll commented on #23
This was a bug I identified earlier and should have been fixed with commit 5e47c9cec2566c7c9aa6218be5fa6150a07bead7 (version 2.4.1).

Which version are you using at the moment?

[2016-01-23 04:35] d4nyll commented on #22
Which version are you using? Updating to version 2.4.1 should resolve this issue. Do let me know if the problem persists, we can resolve it together!

[2016-01-23 19:31] chrisg88 commented on #22
Thanks for the quick reply! I updated to 2.4.1 and the problem appears to persist. Specifically, it occurs on a hybrid page when scrolling up. When I reach the top of the "normal" section, sometimes the page will stop with ~1-15 pixels of the last section in the section wrapper visible. When this happens, scrolling back down causes the page to jump up to the first section. This can be replicated i

[2016-01-23 19:35] chrisg88 commented on #23
You're correct, version 2.4.1 fixed this bug.

[2016-01-25 17:57] chrisg88 commented on #22
After some more testing, I was able to replicate this in Chrome, Safari and IE, but not Firefox.

[2016-01-26 22:52] chrisg88 commented on #22
Further testing - after placing a console log in the scrollTo function, I was able to see that when this occurs the pixel value being passed in is NaN. I setup a conditional here to check if the value is NaN first before executing. Adding an additional conditional to check if the sectionIndexAtWindowBottom is the same as sections.length allowed me to force this instance to scroll to the bottom of

[2016-02-02 15:00] DotCoyote opened #24 "scrollEnd Event returns no slidenumber"
Hi,

in your documentation, you write

which would be very useful for me ;)
Unfortunately, your version doesn't return a slidenumber at scrollEnd, but "undefined"

I fixed that in a local copy:

smartscroll.js:174

[code]

[2016-02-02 15:04] d4nyll commented on #24
@CinKon it must have slipped my mind! Thanks for pointing it out! I hope to go through all the bugs in the issue tracker soon and update them all in one go.

[2016-02-02 15:28] jmcguerreiro commented on #24
Just ran across this today, thanks for the fix @CinKon

[2016-03-12 18:37] impartdan opened #25 "Disable headerHash?"
Is it possible to not use the headerHash?

[2016-03-30 15:48] scottmacd80 commented on #22
@chrisg88 could you post your code for this fix please chris?

[2016-04-10 14:00] ghost opened #26 "Odd behaviour on initial scroll in Chrome"
When I first start to scroll, and I am on the first section. It seems as though regardless of whether I swipe up or down. The page begins to animate as though I am scrolling down. You can see this effect in the demo here (http://d4nyll.github.io/smartscroll/different-heights/). If you scroll up the page will scroll down as though you were scrolling down.

Note this only happens on the initial stat

[2016-06-20 19:45] pudgereyem opened #27 "Question: Make `React` version?"
Hey @d4nyll, hope you're all good!
I'm thinking of making a smartscroll port for `React.js`.
Just wanted to ping you about it, if you'd want to discuss that or anything!

Peace!

[2016-06-21 01:16] d4nyll commented on #27
Hey Victor! Feel free to port it! I'll add a note to your repository after its done.

I'm super busy at the moment but if you need help just send me an email and I'll try to respond quickly

[2016-06-29 21:52] angelaamongstrangers opened #29 "How to do a split screen scroll?"
Hi Daniel,

Thank you for smartscrool. It's great! I just wanted to ask if its possible to do a split screen smartscroll. One side is just normal scrolling with some text floating to the left, and another with using smartscroll and images. Whats happening with me now is that even if i dont include the left side text inside the section wrapper it is still affected by the smartscoll being used on th

[2016-08-11 16:20] momendo commented on #11
+1 for this feature. Navigation that scrolls to that section is a common use-case.

[2016-08-24 15:18] cooperhu opened #30 "Hashes are being set 1 section ahead"
I've noticed that when you scroll the hash of each section is one ahead. This is happening on my project as well as on the Demo page you set up. Any idea on what's causing this and if there is anyway to fix it? I'm thinking of using this plugin for my next project, but I would need the hashes to be correct. Other than this issue with the hashes, the plugin is pretty awesome!

Any help is appreciat

[2016-10-06 10:58] d4nyll commented on #29
I haven't played around with split screen scrolling - I assume the scroll takes up the width of the viewport. If you can give me a more detailed example, I might have a play around with it when I get more time!

[2016-10-06 10:59] #27 closed, assigned to nobody

[2016-10-06 11:07] d4nyll commented on #26
Hey @achubb sorry for the late reply. I've been super-busy up til now working on my company.

I have encountered this problem before and it has to do with the trackpad giving erratic 'up' events, as demonstrated in the diagram below:

![](https://camo.githubusercontent.com/558e88f6ca84a898704c803063c7d67d900af85d/687474703a2f2f626c6f672e64616e796c6c2e636f6d2f636f6e74656e742f696d616765732f323031352

[2016-10-06 11:07] #26 closed, assigned to nobody

[2016-10-10 09:30] aamir1995 commented on #30
Same here :(

[2016-10-18 12:08] karneaud commented on #11
+1

[2016-10-18 22:43] karneaud opened #31 "Glitchy behaviour in Safari"
I'm using MacOSX Yosemite running Safari 9.xx and I'm noticing some slight "flickering" when scrolling to the "last section" with a hybrid scroll implementation

You can see a demo below at

http://clients.kendallarneaud.me/evolve/corbin/culture.html

Not sure if this is a possibly related to https://github.com/d4nyll/smartscroll/issues/2

But just mentioning it

[2016-10-18 22:47] karneaud commented on #30
+1

[2016-10-25 23:56] karneaud commented on #25
+1

[2016-10-25 23:56] karneaud commented on #25
Do you get any "jumpy" behaviour when using it?

[2016-10-26 08:04] d4nyll commented on #25
I considered this while writing the library 2 years ago, but because `#` means 'go to the top of the page', so if you use hash values you should specify the `headerHash` otherwise it would jump a bit.

`headerHash` - (String) The hash for the section above the sections, must be non-empty to reliably ensure the page do not jump when updating the hash value across browsers (as # means _top)

If you

[2017-01-10 13:17] grommas opened #32 "breakpoint in hybrid scrolling"
viewport and sections don't match when hybrid scrolling changes. would be nice if it snaps more accurate. tested on chrome 55.0.2883.95, safari 10.0.2 and firefox 50.1.0 on macOS sierra 10.12.2 with trackpad.

![bildschirmfoto 2017-01-10 um 14 11 52](https://cloud.githubusercontent.com/assets/5681075/21807464/1a4b6496-d73f-11e6-94c1-95b082e734a0.png)

[2017-01-11 09:58] d4nyll commented on #32
@grommas Thanks for the ticket!

This is the intended behaviour (from what I understand from your screenshot and description).

In hybrid scroll, scrolling is unaffected outside the section wrapper. If we are scroll down, smartscroll will check which section is at the bottom of the viewport, and if it is a section inside the wrapper, it will animate a scroll to that section. However, it will only

[2017-01-11 18:08] grommas commented on #32
can't reopen the case since you closed it. but i think you misunderstood my explanation. it's about the little red part of the next section in my picture. there is always some padding instead of correct fullpage snapping to viewport as well as some scrolling going on after changing from scrolljacking to normal scroll behaviour. would be nice if it works more like css scroll snap.

regarding to tha

[2017-01-11 18:56] d4nyll commented on #32
Thank you for taking the time to explain this further. As a clarification:

* If the red bar appears when you're scrolling down from the non-scrolljacked section to the scrolljacked section, I understand and is the intended behaviour (and not a bug). If this is the case, I will read up on the draft specification and get back to you as to whether it's something I want to incorporate into smartscrol

[2017-02-03 18:53] calluna opened #33 "So many warnings it breaks my Gulp build"
I can't build Gulp, all the warnings in your plugin break my build...

[2017-02-04 11:39] d4nyll commented on #33
@calluna How have you set up Gulp? What warnings do you get? Smartscroll is just a jQuery plugin, with generates a single file. I'll need more information that that to help you.

Also, this might help - http://blog.npmjs.org/post/112064849860/using-jquery-plugins-with-npm

[2017-02-08 10:11] katerlouis opened #34 "Only need swipeUp & swipeDown event on Trackpads / mousewheels"
I am desperately looking for a way to detect a swipe on trackpads and "a single flick" on mousewheels.
Unfortunately I can't find a way to extract these bits out of your code and don't see a way to only use these events from your library.

Of course I have EmitterEvents.js and lethargy.js installed aswell.

Could you please tell me a way to callback only on swipeUp / swipeDown without doing alteri

[2017-02-08 10:21] d4nyll commented on #34
I am not sure I understand your question properly - if you only want to add a callback to `swipeUp` and `swipeDown`, then only define an event listener for those events?

[code]

But if you only want a library to detect scroll intents, then [lethargy](http://d4nyll.github.io/lethargy/) should be sufficient.

[2017-02-08 10:39] katerlouis commented on #34
Thanks for the quick answer, wow–
I have a single page with 100%-height-panels and want to make custom transitions for each panel animated with GSAP. Therefore all I need is a detection for swipeUp / swipeDown–

I tried only using lethargy.js and fiddled around with the options and still get multiple events fired per swipe.

The snipped you just posted is what I am trying at the moment, but can't

[2017-02-08 10:47] katerlouis commented on #34
It would be great to only use lethargy.js; but I just don't understand how you did "the green dots" in the demo. Here is what I have with `lethargy.js`

`1` and `-1` are still fired a bazillion times.

[code]

(the lethargy demo doesn't fire intents on very subtle swipe downs, which I'd like to have)

[2017-02-08 11:03] katerlouis commented on #34
Console from your demo.
Are my trackpad settings crazy?
To see if we're on the same page: lethargy should only produce single `1`s and `-1`s, right?

![image](https://cloud.githubusercontent.com/assets/1983382/22734563/6f943306-edf6-11e6-9763-1ca0e00bca4f.png)

[2017-02-08 11:16] d4nyll commented on #34
Lethargy doesn't work for the first 15 events or so. This is because it must hold a cache of past events to determine whether the next event is likely to be an intent or not. If you see real carefully, the first 15 events would all be green, only when the initial 15-unit cache has been filled would lethargy work properly.

This is not normally an issue because a single scroll / swipe fires 10-20 e

[2017-02-08 11:20] katerlouis commented on #34
Okay, thanks for the info;
Back to topic ;)
In fear of bugs I'd like to source the problem and use the swipe event in smartScroll;

But I get the following error going with your approach in post 2 of this issue
[code]

[2017-02-08 11:21] d4nyll commented on #34
Regarding very subtle swipes, you can change the [`sensitivity`](https://github.com/d4nyll/lethargy/blob/master/lethargy.coffee#L10) variable in the code to something lower.

You can also play around with the `stability`, `sensitivity`, `tolerance`, `delay` variables. If you find one that works well for you, please do comment it [here](https://github.com/d4nyll/lethargy/issues/2) so others can ben

[2017-02-08 11:23] d4nyll commented on #34
Did you set the `sectionWrapperSelector` option correctly? Or are you using the `.section-wrapper` class for your sections?

[2017-02-08 11:25] katerlouis commented on #34
So far I'm not setting it at all; I don't want smartscroll to handle the sections and animations etc. for me– is there a way to only use the events?

[2017-02-08 15:13] d4nyll commented on #34
If you just want to use the events, then you should only use Lethargy. Instead of just `console.log` the result as is done here https://github.com/d4nyll/lethargy/blob/master/index.html#L60, just your own functions (possibly throttling / debouncing them as well)

[2017-02-10 10:07] d4nyll commented on #30
Thanks for reporting it. It's probably to do with this line - https://github.com/d4nyll/smartscroll/blob/master/smartscroll.js#L326 - I've had a lot of trouble with this actually. I'll look into it when I have more time to spare.

[2017-02-10 10:07] #32 closed, assigned to nobody

[2017-02-10 10:08] #29 closed, assigned to nobody

[2017-02-10 10:58] johant87 commented on #31
Plugin feels very glithy in firefox asswell.

[2017-02-10 16:50] d4nyll commented on #31
@johant87 @karneaud Would it be possible for you to take a screenshot of the glitchy-ness? It'll be much easier to figure out the issue for me.

[2017-02-19 09:17] a7madgamal commented on #30
this breaks the whole script :(

[2017-02-19 11:43] a7madgamal commented on #30
changing line 331
`slideIndex + 1` to `slideIndex` seems to fix it, please confirm and I can send a pr :)

[2017-02-19 14:26] d4nyll commented on #30
@a7madgamal You're more than welcomed to send a PR, that's the beauty of open-source right?! :slightly_smiling_face:

But I'd need to review your PR before I'll merge it. I'll try to make some time towards the end of this month to do that, just making sure it works on different screen sizes and it behaves correctly after resizing events etc.

So please do submit the PR, just don't be discouraged i

[2017-02-21 22:59] calluna commented on #33
Just simple warnings like "missing semicolon" and "invalid space" but also a bit more complicated warnings like "variable out of scope". When I go to production Gulp does not want the warnings and aborts.

[2017-02-21 23:04] d4nyll commented on #33
Right, I should use a linter and get that fixed.

[2017-03-27 18:04] homewardmedia commented on #22
Fixed this by adding a check to see if you are the bottom of the page here:

<pre>
   var sectionWrapperIsVisible = function () {
      var windowTop = getWindowTop();
      var windowBottom = windowTop + $(window).height();
      var pageHeight = $(document).height();  //ADDED THIS

      // Only affect scrolling if within the sectionWrapper area
      if(windowBottom == pageHeight){   //ADDED TH

[2017-05-07 18:20] petermakowski commented on #33
Hey @d4nyll  First of all - thanks a lot for your great work with smartscroll and lethargy. Would you like me to help fixing these javascript errors? I'm happy to do that ( following for example https://github.com/airbnb/javascript/tree/es5-deprecated/es5 unless you've got other suggestions)  and create a pull request.

[2017-05-07 20:30] d4nyll commented on #33
I've added ESLint to the project on the [`lint`](https://github.com/d4nyll/smartscroll/tree/lint) branch

@calluna Please try it now to see if it works?

@petermakowski Thank you very much for the offer. I've only applied basic rules to the project, and have not actually tested that the library works as before. I'd very much appreciate your help in improving the code style and checking that I didn

[2017-05-08 17:35] d4nyll commented on #33
Thanks to @petermakowski for the help! A new [version](https://github.com/d4nyll/smartscroll/releases/tag/2.5.0) has now been released!

[2017-05-08 17:35] #33 closed, assigned to d4nyll

[2017-08-24 19:33] stljeff1 opened #37 "Mouse wheel scrolling not working in Firefox"
I cannot get smartscroll to work in Firefox. Specifically, I cannot scroll a page using the mousewheel.

Without knowing any more info, can anyone validate this problem? I feel the problem is on me, but I've tried all reasonable debugging tactics to no avail.

I've made sure that my HTML is solid - all tags open and close properly.

I've tried stripping away other js plugins but thats not helping.

[2017-08-24 20:49] stljeff1 commented on #37
I solved my problem. I had two mistakes in my code.

One: I left out the lethargy plugin. From the documentation, in sounded like this was an optional plugin, so I left it out. I did not expect this decision to break the wheel scrolling in Firefox. I guess I should be more aware of what browsers use inertial scrolling?

Two: In at least one instance, I had changed the html so that I had no scrolli

[2017-08-25 11:54] d4nyll commented on #37
Hey @stljeff1

1. Lethargy should be optional. FYI, lethargy is device-dependent and not browser-dependent, and should have no effect on devices that does not use inertial scrolling. So it shouldn't break on just Firefox. Can you clarify for me what you mean by "cannot scroll a page using the mousewheel"? And if there are errors on the console, I'd be grateful if you can post the output.

2. I ass

[2017-08-25 11:55] #34 closed, assigned to nobody

[2017-08-30 22:56] stljeff1 commented on #37
1. If the section on the screen is  a "smart scroll" section, ie - whatever defines `sectionWrapperSelector` - the wheel stops working. I can use the scroll bar, and I can press the middle mouse button to bring up a widget that will scroll the page according to mouse movement. But rotating the wheel definitely doesn't do anything.

So then, if i scroll away from the smart scroll section, the wheel

[2017-09-01 16:12] affinitycreative opened #38 "Way to destroy and rebuild smartscroll? Ajax use cases?"
Hello! Is there a way to disable / re-enable smartscroll when content is pulled in dynamically?

Do you have any knowledge of ajax/dynamic use cases? i.e. pulling in a page that uses smartscroll?

Thanks!

[2017-09-01 22:23] d4nyll commented on #38
Do you have a more solid example?

Smartscroll works by binding functions to `window`, so the most naive way is simply to unbind all the window events.

    $(window).unbind();

But this might affect other libraries you're using. So you might have to run this before other libraries are ran.

To re-enable smartscroll, just run the initialisation script again.

    $.smartscroll(options);

[2017-09-08 19:06] stljeff1 commented on #22
@homewardmedia This works for me. Thank you

[2017-09-12 07:25] adrianrios25 commented on #37
I have the same issue, I also tried the examples in firefox and it is not working.

[2017-12-12 14:03] ionutchirica commented on #30
Any news about fixing this?

[2017-12-19 18:48] sabrinaazad opened #39 "URL hash update based on scroll is not working."
I am trying to use this plugin. I see the headerHash appear but it does not update as I scroll. I have attached pictures of what my code looks like and there are no console errors so I know the syntax is not the issue. Please help! Also, I have the three script files included below all my code right before the closing body tag.

<script src="js/lethargy.min.js"></script>
<script src="https://rawgi

[2017-12-19 19:58] sabrinaazad commented on #39
UPDATE: So now the anchor is working but it is not reading the first data-hash="welcome" it starts at dog but is anchoring dog to the beginning of the website which is hashed welcome.

[2017-12-19 19:58] sabrinaazad commented on #39
![screen shot 2017-12-19 at 2 56 31 pm](https://user-images.githubusercontent.com/5987627/34176193-1372cfdc-e4cd-11e7-9626-871f750bc7c6.png)
![screen shot 2017-12-19 at 2 56 16 pm](https://user-images.githubusercontent.com/5987627/34176197-151864b4-e4cd-11e7-90ae-e7935cea9bb7.png)

[2017-12-20 11:27] #30 closed, assigned to nobody

[2017-12-20 11:45] d4nyll commented on #30
This has been fixed in Release [2.5.2](https://github.com/d4nyll/smartscroll/releases/tag/2.5.2) and published on [NPM](https://www.npmjs.com/package/smartscroll) and Bower.

@a7madgamal Was right, changing `slideIndex + 1` to `slideIndex` did fix things. Sorry it took so long to fix it, I've, unfortunately, always had things higher up on my priorities list.

[2017-12-20 11:47] d4nyll commented on #39
Your updated issue is related to #30, which has just now been fixed.

Also, make sure you put your `<div class="section">` divs inside the `<div class="section-wrapper">` div.

[2017-12-20 11:47] #39 closed, assigned to nobody

[2017-12-20 11:47] #25 closed, assigned to nobody

[2017-12-20 12:01] #24 closed, assigned to nobody

[2017-12-20 12:03] d4nyll commented on #24
Fixed in Release [2.5.3](https://github.com/d4nyll/smartscroll/releases/tag/2.5.3). Thank you @CinKon!

[2017-12-20 15:58] a7madgamal commented on #30
better late than never :)
glad I could help although I don't remember anything about it now lol

[2018-01-24 12:32] riku25591 commented on #22
Any fix update on this issue ?
The bug is still live.

[2018-01-24 14:55] d4nyll commented on #22
Really sorry but I don't have any time at the moment to fix this.

The cause of the bug is because smartscroll is looking at the middle of the viewport to determine which slide is currently on the screen. But to decide whether it should scrolljack or not, it is looking at whether _any_ part of the wrapper is visible in the viewport.

The bug occurs when the wrapper is visible but does not cross th

[2018-01-30 15:48] Colir opened #41 "Scroll section with offset"
Hi.
I'm looking for a way to add an offset when scrolling down to my section.
I've a fixed header, so my differents section's height is 100vh - header.height().

Is there a way to scroll to the sections with an offset of the header height ?

thanks a lot

[2018-01-31 20:48] d4nyll commented on #41
It's been a while since I wrote this, so I don't remember if this is possible. You can try:

* Setting the `mode` option to `set`, this will use the height of each section as set by the CSS, and not expand it up to the whole viewport
* Restrict your section wrapper to always be below your fixed header. So if the header takes 10% of the screen, the section wrapper would take another 90%.

Alternati

[2018-02-01 09:01] Colir commented on #41
unfortunately, mode to set and  restricted section height are already in place.
For the big padding solution, this doesn't work with images wich cover a section height : this add a big white (or bg color) gap.

It will be great if we can add a setting in the plugin option.

thank you for your feedback.

[2018-02-19 19:25] kmwalsh commented on #37
Also Firefox 57.0.3 on OSX 10.11.3 - spinning the scroll wheel did not scroll the page until I added Lethargy. I was able to click down with the wheel and use it that way, as well as use the scrollbar. Just the wheel-spin was broken. It was working in Chrome prior to the addition of Lethargy.

[2018-07-05 18:57] YPCrumble opened #44 "Horizontal scrolling"
Hi - thanks for building this library!

I'm looking for a solution that allows me to implement scrolljacking on mobile only for a horizontal list. Something like [this example](https://stackoverflow.com/a/42117768/2532070) but that scrolls each card one by one, snapping each card into the featured position each time the user scrolls.

Is this something that would be interesting as a new feature fo

[2018-07-07 18:03] d4nyll commented on #44
Thanks for the question!

It's something that I've considered yes. In fact, it was on the `README.md` until 20 December 2017 (see this [commit](https://github.com/d4nyll/smartscroll/commit/480aafab5fb8a827a28d4bb71c11983c3caef783#diff-04c6e90faac2675aa89e2176d2eec7d8L152) that removed it)

To implement horizontal scroll won't actually be that hard, just extremely tedius. You'd have to change every

[2018-08-01 19:57] vickera opened #45 "Screen jumps unexpectedly"
I was experiencing a bug where the screen would jump to the top of the screen if the scrolling sections were over, and the section coming after was not bigger than the screen's height.

I fixed the issue by adding the check
`if(typeof sections[sectionIndexAtWindowMiddle] !== 'undefined')`
in the bindScroll function on line 331.

Hope this can help out.

[2018-10-24 09:27] niravkumbhare opened #49 "Doesn't work with visual composer"
Hi,
I am trying to implement this in my WordPress app. It works fine when I use it as simple html page in wordpress. But when I use it with visual composer it does not work. Any suggestions for this?

Thank You.

[2018-10-24 09:47] d4nyll commented on #49
@niravkumbhare I am not really familiar with Visual Composer. Can you tell me more specifically what "does not work" mean? Are there errors in the console? Are you writing your own theme? How are you including smartscroll etc.

In any case, if you can supply some code, it would be helpful for me to debug.

[2018-11-18 22:24] havlasme opened #50 "scroll method has hardcoded speed"
I've noticed that there is hardcoded animation speed in scroll method

https://github.com/d4nyll/smartscroll/blob/749a7e74f12e12452ba7a9e0445fddf7c747a8af/smartscroll.js#L277

https://github.com/d4nyll/smartscroll/blob/749a7e74f12e12452ba7a9e0445fddf7c747a8af/smartscroll.js#L279

I believe it should use `options.animationSpeed` instead of specifying value `700`.

[2018-11-21 17:08] #50 closed, assigned to nobody

[2018-11-21 17:09] d4nyll commented on #50
You're right @tomashavlas! Thanks for the spot. Fixed it with a commit just now!

[2018-11-21 17:10] d4nyll commented on #49
Closing this due to inactivity. If @niravkumbhare would like to provide more details, please re-open this issue.

[2018-11-21 17:10] #49 closed, assigned to nobody

[2018-11-21 19:32] havlasme opened #51 "hybrid mode - scroll down at last section jumps to the top"
With hybrid scrolling when I get to the bottom of the page and scroll down it jumps to the top.

[2018-12-05 13:42] mend-bolt-for-github[bot] opened #53 "This is a test issue from WhiteSource, it will be closed shortly"

[2018-12-05 13:42] #53 closed, assigned to nobody

[2018-12-05 13:45] mend-bolt-for-github[bot] opened #54 "CVE-2015-9251 Medium Severity Vulnerability detected by WhiteSource"
## CVE-2015-9251 - Medium Severity Vulnerability
<details><summary><img src='https://www.whitesourcesoftware.com/wp-content/uploads/2018/10/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.11.3.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>path: /smartscroll/examples/different-heights-hybrid-scroll/index.html</p>
<p>

<p>Library home page:

[2018-12-10 19:09] francetus opened #56 "Scrolling by sections with the scrollbar"
Hello ! Thank you for this library !

I'd like to scroll section by section also with the scroll bar. Any idea how I could do this ?

Thanks!

[2018-12-11 11:06] d4nyll commented on #56
Hi @francetus would you be able to clarify what you mean? In this [demo](https://d4nyll.github.io/smartscroll/different-heights/#b) you should be able to see the scrollbar on the right-hand side.

[2018-12-11 11:10] d4nyll commented on #54
Not part of the package, only part of the demo, which does not have any user input fields nor a backend/database in the backend to perform XSS attacks.

[2018-12-11 11:10] #54 closed, assigned to nobody

[2018-12-11 14:00] francetus commented on #56
Hello @d4nyll
Sorry for beeing unclear ^^
I mean, when we use the srcollbar manuallly, the page scroll also by sections, like with the mouswheel. If you drag/drop the scrollbar, the page stops automatically at the top of the next section. If you drop the scrollbar at the middle of a section, the scrollbar will adjusts automatically.

It will be easier to explain with an example. You can see what I

[2018-12-11 16:38] d4nyll commented on #56
Thanks for clarifying. Unfortunately, that feature isn't supported in smartscroll, and I won't be adding it in the future.

However, if you have the time to invest into modifying the code, feel free to submit a PR. It shouldn't be _too_ hard, here are the steps I would take:

1. Add a new option, perhaps call it `snap`
2. Create a function that detects which section the middle of the screen is tou

[2018-12-24 20:25] itsam commented on #37
I also confirm this. When lethargy is included, the wheel in Firefox starts to work as expected. Quite strange!!!

[2019-02-06 12:44] rbijkercom commented on #21
Hi @d4nyll ,

Great plugin!
I have copied the smartscroll.min.js from the master branche and added it to my site
http://vagari.rbijker.com/

It works fine on desktop but it doesnt seem to work on mobile (I tested it on iPhone Safari and Android Chrome). I also included lethargy.min.js.

Should this last version work on mobile? Am I missing something?

Thanks!

[2019-02-06 14:07] d4nyll commented on #21
@rbijkercom Can you post your configurations?

Also, can you make sure the following options are enabled:

- `eventEmitter` - (Object) If you pass in an EventEmitter object, autoHashing will be much more efficient. You can also listen to the scroll events this way. Defaults to `null`.
- `bindSwipe` - (Boolean) Allow for listening of swipe events. Requires EventEmitter. Defaults to `true`

[2019-02-06 14:31] rbijkercom commented on #21
Hi @d4nyll

This is my configuration:
[code]

[2019-02-06 14:46] rbijkercom commented on #21
ps. when I check your demo pages on mobile it doesnt work either. 🤔 Should they be working?

Thanks for your help!

[2019-02-06 15:42] d4nyll commented on #21
Just checked my code again. Right now, for mobile, smartscroll will emit events to say "this is a swipe down action" but it won't actually scroll. This was because 1) I don't have time to refactor the code to update 2) I really believe that it is very bad for user experience to hijack the viewer's scroll, _especially_ on mobile.

If you want to use smartscroll, fork the repo and change this [block

[2019-02-07 12:57] rbijkercom commented on #21
Thank you for the hints. I got it to work, but like you said, it's not optimal for mobile. It stutters a bit and it doesn't always scrolls to the correct section. Thanks anyway and keep up the good work!

[2019-02-07 18:39] d4nyll commented on #21
@rbijkercom Thanks! All the best with your project!

[2019-04-04 17:45] baranelitez commented on #31
plugin is glitchy in chrome as well. https://d4nyll.github.io/smartscroll/#scrollbar on this page.

[2019-10-08 19:01] ghost opened #96 "Migrate LGTM.com installation from OAuth to GitHub App"
Hi There,

This project is still using an old implementation of LGTM's automated code review, which has now been disabled. To continue using automated code review, and receive checks on your Pull Requests, please [install the GitHub App](https://github.com/apps/lgtm-com/installations/new) on this repository.

Thanks,
The LGTM Team

[2019-10-10 17:22] #96 closed, assigned to nobody

[2020-08-13 14:18] mrkaluzny commented on #31
I think it has to do with multiple scrolls events being launched. @d4nyll I think debouncing to events trigger would work. The same is true about triggering multiple slides, it should be limited to 1 per scroll action